Repository addulaAjay/mirror-collective-python-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-check-syntax, pytest-quick, serverless-validate

python-check-syntax:
  name: Python Syntax Check
  entry: python
  language: python
  args:
  - -m
  - py_compile
  description: Check Python syntax compilation

pytest-quick:
  name: Quick Test Suite
  entry: python
  language: python
  pass_filenames: false
  stages:
  - pre-push
  args:
  - -m
  - pytest
  - --tb=short
  - -x
  - --maxfail=3
  - tests/

serverless-validate:
  name: Validate Serverless Config
  entry: python
  language: python
  args:
  - -c
  - print('serverless.yml syntax check - basic validation passed')
  description: Basic serverless.yml file check

feat(subscriptions): /status details, ASC env vars, CI wiring (Phase 3)
  .github/workflows/ci.yml
  serverless.yml
  src/app/api/subscription_routes.py
  tests/test_subscription_status.py
Due: python-check-syntax, pytest-quick, serverless-validate

feat(subscriptions): real Apple webhook signature verification
  src/app/services/receipt_validator.py
  src/app/services/subscription_service.py
  tests/test_apple_webhook_verification.py
Due: python-check-syntax, pytest-quick

feat: enforce Basic-tier entitlement + storage quota on Echo Vault
  src/app/api/echo_routes.py
  src/app/core/entitlements.py
  tests/conftest.py
  tests/test_echo_vault.py
  tests/test_entitlements.py
Due: python-check-syntax, pytest-quick

fix: wire real push dispatch for trial-expiry nudges
  src/app/jobs/trial_expiration_job.py
  src/app/services/push_notification_service.py
  src/app/services/trial_management_service.py
  tests/test_trial_notifications.py
Due: python-check-syntax, pytest-quick

fix: block expired trials immediately, not just after the daily cron
  src/app/core/entitlements.py
  tests/test_entitlements.py
Due: python-check-syntax, pytest-quick

fix: exempt account avatar uploads from guard; nudge most-urgent-first
  src/app/core/entitlements.py
  src/app/services/trial_management_service.py
  tests/test_entitlements.py
  tests/test_trial_notifications.py
Due: python-check-syntax, pytest-quick

feat(mirrorgpt): add Conversation Continuation Rule to master prompt
  src/app/services/mirrorgpt_prompts.py
Due: python-check-syntax, pytest-quick

fix(soul-ping): address the user in second person, never third
  src/app/services/conversation_summarizer.py
  src/app/services/soul_ping_service.py
  tests/test_soul_ping_service.py
Due: python-check-syntax, pytest-quick

fix(iap): use client transactionId so real purchases verify
  src/app/api/subscription_routes.py
  src/app/services/receipt_validator.py
  src/app/services/subscription_service.py
  tests/test_receipt_validator.py
Due: python-check-syntax, pytest-quick

fix(iap): correct App Store Server API path /inApp -> /inApps
  src/app/services/receipt_validator.py
  tests/test_receipt_validator.py
Due: python-check-syntax, pytest-quick

fix(iap): fall through to sandbox on production 401 (pre-release apps)
  src/app/services/receipt_validator.py
  tests/test_receipt_validator.py
Due: python-check-syntax, pytest-quick

diag(iap): log leaf-cert validity window on JWS verification failure
  src/app/services/receipt_validator.py
Due: python-check-syntax, pytest-quick

diag(iap): dump full JWS cert chain (subject/issuer) on failure
  src/app/services/receipt_validator.py
Due: python-check-syntax, pytest-quick

fix(iap): pass Apple root cert as DER to SignedDataVerifier (fixes INVALID_CERTIFICATE)
  src/app/services/receipt_validator.py
  tests/test_receipt_validator.py
Due: python-check-syntax, pytest-quick

fix(iap): map modern transaction fields on activation (fixes KeyError 'price')
  src/app/services/receipt_validator.py
  src/app/services/subscription_service.py
  tests/test_subscription_activation.py
Due: python-check-syntax, pytest-quick

fix(db): convert floats to Decimal on DynamoDB writes (fixes activation persist)
  src/app/services/dynamodb_service.py
  tests/test_dynamodb_float_conversion.py
Due: python-check-syntax, pytest-quick

fix: account deletion silently no-oped on access-token auth
  src/app/controllers/auth_controller.py
  tests/test_delete_account.py
Due: python-check-syntax, pytest-quick

ci: gate production deploys on v* tags with manual approval
  .github/workflows/ci.yml
  docs/RELEASE.md
Due: none

chore: add staging Cognito bootstrap script
  docs/RELEASE.md
  scripts/create_staging_cognito.sh
Due: none

chore: mirror prod exactly in staging Cognito bootstrap script
  scripts/create_staging_cognito.sh
Due: none

ci: simplify to branch-based deploys (main to prod, develop to staging)
  .github/workflows/ci.yml
  docs/RELEASE.md
Due: none

fix: restore purchases (KeyError) and StoreKit trial status
  src/app/services/subscription_service.py
  tests/test_subscription_activation.py
Due: python-check-syntax, pytest-quick

fix: enforce paid-subscription expiry + clear trial flag on renewal
  src/app/core/entitlements.py
  src/app/services/subscription_service.py
  tests/test_entitlements.py
  tests/test_subscription_webhook_lookup.py
Due: python-check-syntax, pytest-quick

fix: dedupe + order Apple webhook notifications (idempotency)
  src/app/models/subscription.py
  src/app/services/subscription_service.py
  tests/test_subscription_webhook_idempotency.py
Due: python-check-syntax, pytest-quick

fix: stop MirrorGPT denying its own memory; affirm Life Anchors
  src/app/services/mirrorgpt_prompts.py
Due: python-check-syntax, pytest-quick

fix: quote and capitalize "A-HA" in first quiz answer
  src/app/data/questions.json
Due: none

fix: stop stale expiry_date from paywalling active subscribers (Echo Vault)
  src/app/core/entitlements.py
  src/app/services/receipt_validator.py
  src/app/services/subscription_service.py
  tests/test_entitlements.py
  tests/test_subscription_activation.py
Due: python-check-syntax, pytest-quick

test: update quiz fixtures for the "A-HA" answer wording
  tests/test_quiz_submit_route.py
  tests/test_quiz_type_integration.py
Due: python-check-syntax, pytest-quick

fix: make Apple/Google IAP webhook routes public (bypass JWT authorizer)
  serverless.yml
Due: serverless-validate

refactor(mirrorgpt): make Pattern→Meaning→Clarity→Choice an invisible internal framework
  src/app/services/mirrorgpt_prompts.py
Due: python-check-syntax, pytest-quick

fix: decode signedRenewalInfo in Apple webhook so cancellations apply
  src/app/services/subscription_service.py
  tests/test_subscription_webhook_renewal_status.py
Due: python-check-syntax, pytest-quick

fix: use renewal-info decoder for signedRenewalInfo; make it non-fatal
  src/app/services/receipt_validator.py
  src/app/services/subscription_service.py
  tests/test_subscription_webhook_renewal_status.py
Due: python-check-syntax, pytest-quick

fix: stop notification bookkeeping from clobbering webhook writes
  src/app/services/subscription_service.py
  tests/test_subscription_webhook_idempotency.py
  tests/test_subscription_webhook_renewal_status.py
Due: python-check-syntax, pytest-quick

fix: apply renewal-status changes as atomic, signedDate-ordered writes
  src/app/services/dynamodb_service.py
  src/app/services/subscription_service.py
  tests/test_subscription_webhook_renewal_status.py
Due: python-check-syntax, pytest-quick

fix: apply all subscription webhook mutations as atomic, ordered writes
  src/app/services/subscription_service.py
  tests/test_subscription_webhook_renewal_status.py
Due: python-check-syntax, pytest-quick

feat: storage add-on backend — idempotent quota + Core-linked lifecycle
  src/app/models/user_profile.py
  src/app/services/storage_quota_service.py
  src/app/services/subscription_service.py
  tests/test_storage_addon.py
Due: python-check-syntax, pytest-quick

fix: derive Core entitlement from subscription_status, not primary_subscription_id
  src/app/models/user_profile.py
  tests/test_storage_addon.py
Due: python-check-syntax, pytest-quick

feat: add subscription reconciliation cron
  serverless.yml
  src/app/jobs/subscription_reconciliation_job.py
  src/app/services/dynamodb_service.py
  src/app/services/receipt_validator.py
  src/app/services/subscription_service.py
  tests/test_subscription_reconciliation.py
Due: python-check-syntax, pytest-quick, serverless-validate

fix: shorten subscriptionReconciliation Lambda name under 64-char limit
  serverless.yml
Due: serverless-validate

Path conditions:
  python-check-syntax: any of: \.py$, but not: (?x)^(
  .*/__pycache__/.*|
  .*/\.pyc$|
  .*\.egg-info/.*|
  htmlcov/.*|
  \.coverage.*|
  coverage\.xml|
  bandit-report\.json|
  safety-report\.json|
  \.git/.*|
  \.venv/.*|
  venv/.*|
  node_modules/.*
)$

  pytest-quick: any of: \.py$, but not: (?x)^(
  .*/__pycache__/.*|
  .*/\.pyc$|
  .*\.egg-info/.*|
  htmlcov/.*|
  \.coverage.*|
  coverage\.xml|
  bandit-report\.json|
  safety-report\.json|
  \.git/.*|
  \.venv/.*|
  venv/.*|
  node_modules/.*
)$

  serverless-validate: any of: serverless\.yml$, but not: (?x)^(
  .*/__pycache__/.*|
  .*/\.pyc$|
  .*\.egg-info/.*|
  htmlcov/.*|
  \.coverage.*|
  coverage\.xml|
  bandit-report\.json|
  safety-report\.json|
  \.git/.*|
  \.venv/.*|
  venv/.*|
  node_modules/.*
)$

