Repository addulaAjay/mirror-collective-python-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-check-syntax, pytest-quick, serverless-validate

Path conditions:
  python-check-syntax: any of: \.py$, but not: (?x)^(
  .*/__pycache__/.*|
  .*/\.pyc$|
  .*\.egg-info/.*|
  htmlcov/.*|
  \.coverage.*|
  coverage\.xml|
  bandit-report\.json|
  safety-report\.json|
  \.git/.*|
  \.venv/.*|
  venv/.*|
  node_modules/.*
)$

  pytest-quick: any of: \.py$, but not: (?x)^(
  .*/__pycache__/.*|
  .*/\.pyc$|
  .*\.egg-info/.*|
  htmlcov/.*|
  \.coverage.*|
  coverage\.xml|
  bandit-report\.json|
  safety-report\.json|
  \.git/.*|
  \.venv/.*|
  venv/.*|
  node_modules/.*
)$

  serverless-validate: any of: serverless\.yml$, but not: (?x)^(
  .*/__pycache__/.*|
  .*/\.pyc$|
  .*\.egg-info/.*|
  htmlcov/.*|
  \.coverage.*|
  coverage\.xml|
  bandit-report\.json|
  safety-report\.json|
  \.git/.*|
  \.venv/.*|
  venv/.*|
  node_modules/.*
)$


fix(iam): grant dynamodb:BatchGetItem to Lambda role
  serverless.yml
Due: serverless-validate

fix(quiz): align Q5 Weaver option with V1 onboarding spec
  src/app/data/questions.json
Due: none

feat: rich echo-share emails + multi-attachment echoes
  emails/.gitignore
  emails/README.md
  emails/dist/echo-video.html
  emails/dist/echo-voice.html
  emails/dist/echo-written.html
  emails/package-lock.json
  emails/package.json
  emails/src/echo-video.mjml
  emails/src/echo-voice.mjml
  emails/src/echo-written.mjml
  emails/src/partials/_cta.mjml
  emails/src/partials/_footer.mjml
  emails/src/partials/_head.mjml
  emails/src/partials/_header.mjml
  emails/tokens.json
  requirements.txt
  serverless.yml
  src/app/api/echo_routes.py
  src/app/models/echo.py
  src/app/services/echo_service.py
  src/app/services/email_service.py
  tests/test_echo_attachments.py
  tests/test_email_echo_share.py
Due: python-check-syntax, pytest-quick, serverless-validate

feat(echo): accept .pdf file attachments
  src/app/services/echo_service.py
  tests/test_echo_attachments.py
Due: python-check-syntax, pytest-quick

feat(echo): public tokenized viewer for email-recipient attachment playback
  emails/dist/echo-video.html
  emails/src/echo-video.mjml
  src/app/api/share_routes.py
  src/app/core/share_token.py
  src/app/handler.py
  src/app/services/echo_service.py
  tests/test_echo_share_viewer.py
Due: python-check-syntax, pytest-quick

feat(echo): DELETE attachment endpoint for editing drafts
  src/app/api/echo_routes.py
  src/app/services/echo_service.py
  tests/test_echo_attachments.py
Due: python-check-syntax, pytest-quick

chore(echo): wire SHARE_TOKEN_SECRET + SHARE_BASE_URL env
  .env.example
  serverless.yml
Due: serverless-validate

fix(echo): Cache-Control no-store on share routes
  src/app/api/share_routes.py
  tests/test_echo_share_viewer.py
Due: python-check-syntax, pytest-quick

fix(echo): accept image/jpg (and other MIME aliases) on upload
  src/app/services/echo_service.py
  tests/test_echo_attachments.py
Due: python-check-syntax, pytest-quick

fix(echo): presigned PUT 403 — sign client's exact Content-Type
  src/app/services/echo_service.py
  tests/test_echo_attachments.py
Due: python-check-syntax, pytest-quick

chore(email): set SES sender to app@themirrorcollective.com
  serverless.yml
  src/app/services/email_service.py
Due: python-check-syntax, pytest-quick, serverless-validate

fix(echo-email): use sender's display name instead of user_id
  src/app/services/echo_service.py
Due: python-check-syntax, pytest-quick

feat(echo-email): public S3 bucket for email brand assets
  .env.example
  emails/README.md
  serverless.yml
Due: serverless-validate

feat(echo-email): add email brand assets exported from Figma
  emails/email-assets/attachment-thumb.png
  emails/email-assets/divider-star.png
  emails/email-assets/hero-default.jpg
  emails/email-assets/icon-download.png
  emails/email-assets/icon-lock.png
  emails/email-assets/icon-play-gold.png
  emails/email-assets/logo-mirror-collective.png
  emails/email-assets/waveform-gold.png
Due: none

feat(echo-email): inline hero/thumb show the echo's attached image
  src/app/core/share_token.py
  src/app/services/echo_service.py
Due: python-check-syntax, pytest-quick

fix(echo-email): drop hero image from written template
  emails/dist/echo-written.html
  emails/src/echo-written.mjml
Due: none

fix(ci): package email templates + sync brand assets on deploy
  .github/workflows/ci.yml
Due: none

feat(echo-email): render every attachment in order; friendly sender fallback
  emails/dist/echo-video.html
  emails/dist/echo-voice.html
  emails/dist/echo-written.html
  emails/src/echo-video.mjml
  emails/src/echo-voice.mjml
  emails/src/echo-written.mjml
  emails/src/partials/_media_blocks.mjml
  src/app/services/echo_service.py
  src/app/services/email_service.py
  tests/test_echo_attachments.py
  tests/test_email_echo_share.py
Due: python-check-syntax, pytest-quick

fix(share): make /share/* public (token-authorized, not Cognito)
  serverless.yml
Due: serverless-validate

fix(ci): pass SHARE_TOKEN_SECRET + SHARE_BASE_URL to deploys
  .github/workflows/ci.yml
Due: none

fix(echo-email): instant echoes send once, with attachments + sender name
  src/app/api/echo_routes.py
  src/app/services/echo_service.py
Due: python-check-syntax, pytest-quick

feat(echo-email): scheduler rescues stranded instant drafts
  src/app/services/echo_service.py
  tests/test_echo_vault.py
Due: python-check-syntax, pytest-quick

fix(echo-email): consistent media padding + playable viewer video
  emails/dist/echo-video.html
  emails/dist/echo-voice.html
  emails/dist/echo-written.html
  emails/src/echo-video.mjml
  emails/src/echo-voice.mjml
  emails/src/echo-written.mjml
  emails/src/partials/_media_blocks.mjml
  src/app/api/share_routes.py
Due: python-check-syntax, pytest-quick

feat(greeting-continuity): enhance lazy summarization and context tagging for recent conversations
  src/app/api/mirrorgpt_routes.py
  tests/test_mirrorgpt_greeting_continuity.py
Due: python-check-syntax, pytest-quick

fix(echo-email): image/video/audio blocks match Figma
  emails/dist/echo-video.html
  emails/dist/echo-voice.html
  emails/dist/echo-written.html
  emails/src/partials/_media_blocks.mjml
Due: none

fix(share): force playable Content-Type so viewer plays audio/video
  src/app/services/echo_service.py
Due: python-check-syntax, pytest-quick

feat(video): MediaConvert transcoding for web-playable echo videos
  serverless.yml
  src/app/jobs/transcode_complete_job.py
  src/app/models/echo.py
  src/app/services/echo_service.py
  tests/test_transcode_complete.py
Due: python-check-syntax, pytest-quick, serverless-validate

feat(share): brand the viewer page to match the echo emails
  src/app/api/share_routes.py
Due: python-check-syntax, pytest-quick

feat(echo-email): update email/viewer logo to new MC horizontal lockup
  emails/email-assets/logo-mirror-collective.png
Due: none

fix(echo-email): transparent MC logo for email + share viewer
  emails/email-assets/logo-mirror-collective.png
Due: none

Revert "fix(echo-email): transparent MC logo for email + share viewer"
  emails/email-assets/logo-mirror-collective.png
Due: none

Revert "feat(echo-email): update email/viewer logo to new MC horizontal lockup"
  emails/email-assets/logo-mirror-collective.png
Due: none

feat(soul-pings): hourly per-user proactive notifications
  serverless.yml
  src/app/api/soul_ping_routes.py
  src/app/handler.py
  src/app/jobs/soul_ping_job.py
  src/app/models/soul_ping.py
  src/app/services/dynamodb_service.py
  src/app/services/soul_ping_service.py
  tests/test_soul_ping_service.py
Due: python-check-syntax, pytest-quick, serverless-validate

feat(echo-email): consolidate to one generic echo template
  emails/README.md
  emails/dist/echo-video.html
  emails/dist/echo-voice.html
  emails/dist/echo-written.html
  emails/dist/echo.html
  emails/package.json
  emails/src/echo-video.mjml
  emails/src/echo-voice.mjml
  emails/src/echo-written.mjml
  emails/src/echo.mjml
  emails/src/partials/_cta.mjml
  emails/src/partials/_footer.mjml
  emails/src/partials/_head.mjml
  emails/src/partials/_header.mjml
  emails/src/partials/_media_blocks.mjml
  emails/tokens.json
  src/app/services/email_service.py
  tests/test_email_echo_share.py
Due: python-check-syntax, pytest-quick

feat(echo-viewer): restyle share viewer to Figma 7539-4157 branding
  src/app/api/share_routes.py
  tests/test_echo_share_viewer.py
Due: python-check-syntax, pytest-quick

feat(push): per-stage APNs SNS platform-app wiring + setup script
  docs/PUSH_NOTIFICATIONS_SETUP.md
  scripts/setup_apns_platform_app.py
  serverless.yml
Due: python-check-syntax, pytest-quick, serverless-validate

docs(push): use real iOS bundle id (com.themirrorcollective.mirror)
  docs/PUSH_NOTIFICATIONS_SETUP.md
  scripts/setup_apns_platform_app.py
Due: python-check-syntax, pytest-quick

fix(ci): configure AWS creds before serverless print
  .github/workflows/ci.yml
Due: none

fix(echo-email): card side gutter, centered footer, correct asset bucket
  emails/dist/echo.html
  emails/src/echo.mjml
  serverless.yml
Due: serverless-validate

fix(share-viewer): scoped CSP so images + inline video/audio load
  src/app/api/share_routes.py
  tests/test_echo_share_viewer.py
Due: python-check-syntax, pytest-quick
