Repository addulaAjay/mirror-collective-python-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-check-syntax, pytest-quick, serverless-validate

Path conditions:
  python-check-syntax: any of: \.py$, but not: (?x)^(
  .*/__pycache__/.*|
  .*/\.pyc$|
  .*\.egg-info/.*|
  htmlcov/.*|
  \.coverage.*|
  coverage\.xml|
  bandit-report\.json|
  safety-report\.json|
  \.git/.*|
  \.venv/.*|
  venv/.*|
  node_modules/.*
)$

  pytest-quick: any of: \.py$, but not: (?x)^(
  .*/__pycache__/.*|
  .*/\.pyc$|
  .*\.egg-info/.*|
  htmlcov/.*|
  \.coverage.*|
  coverage\.xml|
  bandit-report\.json|
  safety-report\.json|
  \.git/.*|
  \.venv/.*|
  venv/.*|
  node_modules/.*
)$

  serverless-validate: any of: serverless\.yml$, but not: (?x)^(
  .*/__pycache__/.*|
  .*/\.pyc$|
  .*\.egg-info/.*|
  htmlcov/.*|
  \.coverage.*|
  coverage\.xml|
  bandit-report\.json|
  safety-report\.json|
  \.git/.*|
  \.venv/.*|
  venv/.*|
  node_modules/.*
)$


fix: align registration validation with client and log failing field
  src/app/api/models.py
  src/app/core/error_handlers.py
  tests/test_models.py
  tests/test_validation_error_logging.py
Due: python-check-syntax, pytest-quick

fix: guard device registration against bad tokens and SNS failures
  src/app/api/routes.py
  tests/test_register_device_guard.py
Due: python-check-syntax, pytest-quick

fix: query quiz results via the correct user-quiz-index GSI
  scripts/create_mirrorgpt_tables.py
  src/app/services/dynamodb_service.py
  tests/test_get_user_quiz_results.py
Due: python-check-syntax, pytest-quick

fix: send SECRET_HASH on Cognito token refresh
  src/app/api/models.py
  src/app/controllers/auth_controller.py
  src/app/services/cognito_service.py
  tests/test_refresh_secret_hash.py
Due: python-check-syntax, pytest-quick

fix: harden archetype quiz submission scoring
  src/app/api/mirrorgpt_routes.py
  src/app/services/quiz_submission.py
  tests/test_quiz_submission.py
  tests/test_quiz_submit_route.py
Due: python-check-syntax, pytest-quick

feat: correlation IDs in every log line + sanitize auth PII
  src/app/controllers/auth_controller.py
  src/app/core/error_handlers.py
  src/app/core/log_sanitize.py
  src/app/core/logging_config.py
  src/app/core/request_context.py
  src/app/core/security.py
  src/app/services/cognito_service.py
  tests/test_auth_log_sanitize.py
  tests/test_log_context.py
Due: python-check-syntax, pytest-quick

fix: mask recipient email in EmailService SES logs
  src/app/services/email_service.py
  tests/test_email_async_boto3.py
Due: python-check-syntax, pytest-quick

perf: serve quiz questions from bundled file, not a DynamoDB scan
  scripts/export_quiz_questions.py
  src/app/api/mirrorgpt_routes.py
  src/app/services/quiz_questions_loader.py
  tests/test_quiz_questions_loader.py
Due: python-check-syntax, pytest-quick

perf: cache OpenAI service + orchestrator; raise API Lambda memory
  serverless.yml
  src/app/api/mirrorgpt_routes.py
  src/app/services/openai_service.py
  src/app/services/soul_ping_service.py
  tests/test_service_singletons.py
Due: python-check-syntax, pytest-quick, serverless-validate

perf: lazy SNS client (#5) + parallelize chat/greeting DDB I/O (#6, #7)
  src/app/api/mirrorgpt_routes.py
  src/app/services/sns_service.py
  tests/test_sns_async_boto3.py
Due: python-check-syntax, pytest-quick

perf: upgrade Lambda runtime to python3.12 + enable SnapStart on the API
  .github/workflows/ci.yml
  serverless.yml
Due: serverless-validate

perf: trim auth hot paths (login 2nd Cognito call; confirm-email parallel I/O)
  src/app/controllers/auth_controller.py
  tests/conftest.py
  tests/test_auth.py
Due: python-check-syntax, pytest-quick

ci: bump GitHub Actions to Node 24 versions
  .github/workflows/ci.yml
Due: none

hotfix: revert python3.12 + SnapStart (failed prod deploy)
  .github/workflows/ci.yml
  serverless.yml
Due: serverless-validate

perf: use provisioned concurrency for cold start (replaces SnapStart attempt)
  serverless.yml
Due: serverless-validate

feat: send echo email only; remove all other email types
  src/app/api/echo_routes.py
  src/app/services/echo_service.py
  src/app/services/email_service.py
  tests/test_echo_vault.py
Due: python-check-syntax, pytest-quick

docs: fix lock_echo docstring to reflect echo-only email policy
  src/app/services/echo_service.py
Due: python-check-syntax, pytest-quick

docs: MirrorGPT memory plan — recall fix + Life Anchors + Memory Preflight
  docs/MIRRORGPT_MEMORY_PLAN.md
Due: none

docs: confirm MirrorGPT recall root cause — client drops server resume id
  docs/MIRRORGPT_MEMORY_PLAN.md
Due: none

fix(mirrorgpt): harden cross-session recall (Phase 0.1/0.3/0.4b) + greeting perf
  src/app/api/mirrorgpt_routes.py
  src/app/services/conversation_service.py
  src/app/services/conversation_summarizer.py
  src/app/services/dynamodb_service.py
  src/app/services/mirror_orchestrator.py
  tests/test_dynamodb_service.py
  tests/test_mirrorgpt_continuity_carrier.py
  tests/test_mirrorgpt_greeting_continuity.py
Due: python-check-syntax, pytest-quick

refactor(mirrorgpt): remove dead update_activity; note carrier edge case
  src/app/models/conversation.py
  src/app/services/conversation_service.py
  src/app/services/mirror_orchestrator.py
Due: python-check-syntax, pytest-quick

docs: ground Phase 1 scope (Memory Preflight: Echo Map + recent summary)
  docs/MIRRORGPT_MEMORY_PLAN.md
Due: none

feat(mirrorgpt): Memory Preflight — inject Echo Map patterns + recent summary
  src/app/services/mirror_orchestrator.py
  tests/test_mirrorgpt_preflight_patterns.py
Due: python-check-syntax, pytest-quick

fix(mirrorgpt): suppress preflight Tier-2 summary when carrier fires
  src/app/services/mirror_orchestrator.py
  tests/test_mirrorgpt_preflight_patterns.py
Due: python-check-syntax, pytest-quick

docs: ground Phase 2 scope (Life Anchors) — perf-safe detection + sub-phasing
  docs/MIRRORGPT_MEMORY_PLAN.md
Due: none

feat(mirrorgpt): Life Anchors entity + CRUD + infra (Phase 2A)
  .env.example
  scripts/create_reflection_room_tables.py
  serverless.yml
  src/app/api/life_anchors_routes.py
  src/app/handler.py
  src/app/models/life_anchor.py
  src/app/repositories/life_anchor_repo.py
  tests/_fakes/fake_dynamodb.py
  tests/test_life_anchor_repo.py
  tests/test_life_anchors_routes.py
Due: python-check-syntax, pytest-quick, serverless-validate

feat(mirrorgpt): Life Anchors detection + confirm flow (Phase 2B)
  src/app/api/life_anchors_routes.py
  src/app/api/mirrorgpt_routes.py
  src/app/api/models.py
  src/app/services/life_anchor_detector.py
  src/app/services/life_anchor_structurer.py
  tests/test_chat.py
  tests/test_life_anchor_detector.py
  tests/test_life_anchor_structurer.py
  tests/test_life_anchors_routes.py
Due: python-check-syntax, pytest-quick

feat(mirrorgpt): inject Life Anchors into the Memory Preflight (Phase 2C)
  src/app/services/mirror_orchestrator.py
  tests/test_mirrorgpt_preflight_patterns.py
Due: python-check-syntax, pytest-quick

feat(mirrorgpt): in-chat conversational confirm for Life Anchors (Phase 2D)
  src/app/api/mirrorgpt_routes.py
  src/app/models/life_anchor.py
  src/app/services/life_anchor_confirmation.py
  tests/test_chat.py
  tests/test_life_anchor_confirmation.py
Due: python-check-syntax, pytest-quick

feat(soul-ping): daily 9 PM EST schedule + seen tracking + re-engagement
  serverless.yml
  src/app/api/soul_ping_routes.py
  src/app/services/dynamodb_service.py
  src/app/services/soul_ping_service.py
  tests/test_dynamodb_service.py
  tests/test_soul_ping_routes.py
  tests/test_soul_ping_service.py
Due: python-check-syntax, pytest-quick, serverless-validate

chore(mirrorgpt): enable Life Anchors (MIRRORGPT_LIFE_ANCHORS on by default)
  serverless.yml
Due: serverless-validate

chore(mirrorgpt): enable both memory flags by default (incl. prod)
  serverless.yml
Due: serverless-validate

fix(soul-ping): re-engage on no-activity instead of skipping (unseen users)
  src/app/services/soul_ping_service.py
  tests/test_soul_ping_service.py
Due: python-check-syntax, pytest-quick

chore(soul-ping): schedule twice daily at 8 AM & 8 PM EST
  serverless.yml
  src/app/jobs/soul_ping_job.py
  src/app/services/soul_ping_service.py
Due: python-check-syntax, pytest-quick, serverless-validate

feat(echo): edit recipient picture — PATCH /api/recipients/{id} (Slice 1)
  src/app/api/echo_routes.py
  src/app/services/echo_service.py
  tests/test_recipient_picture_update.py
  tests/test_recipient_routes.py
Due: python-check-syntax, pytest-quick

docs: MirrorGPT Summary V2 plan (confidence themes + nudge)
  docs/MIRRORGPT_SUMMARY_V2_PLAN.md
Due: none

feat(mirrorgpt): summary V2 slice 1 — confidence themes + nudge schema
  docs/MIRRORGPT_SUMMARY_V2_PLAN.md
  src/app/models/conversation.py
  src/app/services/conversation_summarizer.py
  src/app/services/dynamodb_service.py
  src/app/services/soul_ping_service.py
  tests/test_conversation_summarizer.py
Due: python-check-syntax, pytest-quick

feat(mirrorgpt): summary V2 slice 2 — JSON mode + V2 prompt
  docs/MIRRORGPT_SUMMARY_V2_PLAN.md
  src/app/services/conversation_summarizer.py
  src/app/services/openai_service.py
  tests/test_conversation_summarizer.py
Due: python-check-syntax, pytest-quick

feat(mirrorgpt): summary V2 slice 3 — nudge drives Soul Ping re-engagement
  docs/MIRRORGPT_SUMMARY_V2_PLAN.md
  src/app/services/soul_ping_service.py
  tests/test_soul_ping_service.py
Due: python-check-syntax, pytest-quick

feat(mirrorgpt): update master system prompt to v2
  src/app/services/mirrorgpt_prompts.py
Due: python-check-syntax, pytest-quick
