Repository addulaAjay/mirror-collective-python-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-check-syntax, pytest-quick, serverless-validate

python-check-syntax:
  name: Python Syntax Check
  entry: python
  language: python
  args:
  - -m
  - py_compile
  description: Check Python syntax compilation

pytest-quick:
  name: Quick Test Suite
  entry: python
  language: python
  pass_filenames: false
  stages:
  - pre-push
  args:
  - -m
  - pytest
  - --tb=short
  - -x
  - --maxfail=3
  - tests/

serverless-validate:
  name: Validate Serverless Config
  entry: python
  language: python
  args:
  - -c
  - print('serverless.yml syntax check - basic validation passed')
  description: Basic serverless.yml file check

feat: enhance quiz API with image answers and detailed scoring
  Mirror-Collective-API.postman_collection.json
  Mirror-Collective-API.postman_environment.json
  POSTMAN_TESTING_GUIDE.md
  src/app/api/mirrorgpt_routes.py
  src/app/api/models.py
  src/app/services/archetype_engine.py
  src/app/services/mirror_orchestrator.py
Due: python-check-syntax, pytest-quick

change base system prompt
  src/app/services/mirror_orchestrator.py
Due: python-check-syntax, pytest-quick

local setup
  LOCAL_DEVELOPMENT.md
  setup-local.sh
Due: none

feat: added notification service
  scripts/create_echo_vault_table.py
  src/app/api/models.py
  src/app/api/routes.py
  src/app/services/dynamodb_service.py
  src/app/services/s3_service.py
Due: python-check-syntax, pytest-quick

feat: implement anonymous quiz data linking, enhance health checks, and update documentation
  ENHANCED_QUIZ_API_SUMMARY.md
  README.md
  docker-compose.local.yml
  docker/dynamodb/shared-local-instance.db
  scripts/create_dynamodb_tables.py
  scripts/create_mirrorgpt_tables.py
  scripts/populate_quiz_questions.py
  scripts/verify_link_move.py
  scripts/verify_local_data.py
  src/app/api/mirrorgpt_routes.py
  src/app/api/models.py
  src/app/controllers/auth_controller.py
  src/app/core/health_checks.py
  src/app/core/security.py
  src/app/handler.py
  src/app/services/dynamodb_service.py
  src/app/services/user_linking_service.py
Due: python-check-syntax, pytest-quick

updated code for sns service
  docker/dynamodb/shared-local-instance.db
  scripts/create_dynamodb_tables.py
  scripts/create_mirrorgpt_tables.py
  src/app/api/routes.py
  src/app/handler.py
  src/app/services/sns_service.py
Due: python-check-syntax, pytest-quick

feat: implement scalable hybrid push notification system with DynamoDB persistence
  serverless.yml
  src/app/api/models.py
  src/app/api/routes.py
  src/app/models/device_token.py
  src/app/services/dynamodb_service.py
  src/app/services/scheduler.py
  src/app/services/sns_service.py
Due: python-check-syntax, pytest-quick, serverless-validate

security: refactor health check credentials to use config
  src/app/core/health_checks.py
Due: python-check-syntax, pytest-quick

security: fix malformed Bandit nosec comments
  src/app/models/user_profile.py
Due: python-check-syntax, pytest-quick

security: Fix Bandit security audit findings with nosec annotations
  scripts/create_dynamodb_tables.py
  scripts/create_mirrorgpt_tables.py
  scripts/create_mirrorgpt_tables_clean.py
  scripts/syntax_validation.py
  scripts/test_mirrorgpt_integration.py
  scripts/validate_integration.py
  scripts/verify_local_data.py
Due: python-check-syntax, pytest-quick

ci: Allow Bandit security scan to continue on findings
  .github/workflows/ci.yml
Due: none

deps: Add apscheduler to requirements.txt
  requirements.txt
Due: none

refactor: Extract health check exception processing, error checking, and overall status update logic into helper methods.
  src/app/core/health_checks.py
Due: python-check-syntax, pytest-quick

feat: Implement S3 media upload and secure playback for Echoes
  scripts/create_echo_tables.py
  src/app/api/echo_routes.py
  src/app/handler.py
  src/app/models/echo.py
  src/app/services/echo_service.py
  src/app/services/email_service.py
Due: python-check-syntax, pytest-quick

feat(echo-backend): implement motif support and S3 media upload integration
  Makefile
  scripts/create_conversation_tables.py
  scripts/create_echo_tables.py
  src/app/api/echo_routes.py
  src/app/handler.py
  src/app/models/echo.py
  src/app/services/echo_service.py
Due: python-check-syntax, pytest-quick

chore(infra): full end-to-end Echo Vault infrastructure stabilization
  serverless.yml
Due: serverless-validate

feat: Add SES_SENDER_EMAIL, SNS_TOPIC_ARN, and APP_URL environment variables to CI/CD workflows.
  .github/workflows/ci.yml
Due: none

Downgraded Python runtime to 3.11 and renamed Echo Vault resources in `serverless.yml`, updating the local DynamoDB instance.
  serverless.yml
Due: serverless-validate

Downgrade CI Python version to 3.11, update `serverless-python-requirements` to v6, and add a Docker version check in CI deployment steps.
  .github/workflows/ci.yml
Due: none

fix(deploy): pin serverless-python-requirements to 5.4.0 and align python3.11 runtime to resolve docker issues in CI
  .github/workflows/ci.yml
  serverless.yml
Due: serverless-validate

fix(deploy): switch production deployment stage to 'prod' to bypass legacy stack resource conflicts
  .github/workflows/ci.yml
  serverless.yml
Due: serverless-validate

fix(deploy): switch stage to 'production-v2' to match IAM wildcard permissions
  .github/workflows/ci.yml
Due: none

feat: implement subscription logic and infrastructure stabilization
  .gitignore
  commit_log.txt
  package-lock.json
  package.json
  requirements.txt
  serverless.yml
  src/app/api/subscription_routes.py
  src/app/core/quota_middleware.py
  src/app/handler.py
  src/app/jobs/trial_expiration_job.py
  src/app/models/subscription.py
  src/app/models/user_profile.py
  src/app/services/dynamodb_service.py
  src/app/services/receipt_validator.py
  src/app/services/storage_quota_service.py
  src/app/services/subscription_service.py
  src/app/services/trial_management_service.py
Due: python-check-syntax, pytest-quick, serverless-validate

feat(db): optimize DynamoDB schemas and migration suite
  Makefile
  scripts/create_dynamodb_tables.py
  scripts/create_echo_tables.py
  scripts/create_subscription_tables.py
  scripts/update_existing_tables.py
Due: python-check-syntax, pytest-quick

chore: remove commit_log.txt and update .gitignore
  .gitignore
  commit_log.txt
Due: none

feat: implement echo notifications
  docker/dynamodb/shared-local-instance.db
  src/app/api/echo_routes.py
  src/app/services/echo_service.py
  src/app/services/email_service.py
  tests/test_echo_vault.py
Due: python-check-syntax, pytest-quick

fix: add proper mocking to echo vault tests
  tests/test_echo_vault.py
Due: python-check-syntax, pytest-quick

feat: add auto-release and scheduled release for echoes
  src/app/api/echo_routes.py
  src/app/services/echo_service.py
  tests/test_echo_vault.py
Due: python-check-syntax, pytest-quick

fix: change inbox query to use user_id instead of email
  src/app/api/echo_routes.py
  src/app/services/echo_service.py
Due: python-check-syntax, pytest-quick

feat: add unlock_on_death field for legacy echoes
  src/app/api/echo_routes.py
  src/app/models/echo.py
  src/app/services/echo_service.py
Due: python-check-syntax, pytest-quick

feat: add recipient_user_id linking for reliable inbox queries
  serverless.yml
  src/app/api/echo_routes.py
  src/app/models/echo.py
  src/app/services/echo_service.py
  tests/test_echo_vault.py
Due: python-check-syntax, pytest-quick, serverless-validate

fix: normalize emails to lowercase for case-insensitive matching
  src/app/models/user_profile.py
  src/app/services/dynamodb_service.py
Due: python-check-syntax, pytest-quick

fix: update refresh token handling and ensure email defaults in user profiles
  src/app/services/cognito_service.py
  src/app/services/dynamodb_service.py
Due: python-check-syntax, pytest-quick

fix: convert float values to Decimal for DynamoDB compatibility
  src/app/models/user_profile.py
Due: python-check-syntax, pytest-quick

feat: enhance email notifications to include registration status and invite non-registered users
  src/app/services/echo_service.py
  src/app/services/email_service.py
  tests/test_recipient_access.py
Due: python-check-syntax, pytest-quick

feat: implement Decimal to float conversion in storage quota service and add tests for handling Decimal values
  src/app/services/echo_service.py
  src/app/services/storage_quota_service.py
  tests/test_storage_quota_decimal_fix.py
Due: python-check-syntax, pytest-quick

fix: allow media attachment to RELEASED echoes (fixes video/audio upload)
  docs/ECHO_MEDIA_ATTACHMENT_FIX.md
  docs/RECIPIENT_ECHO_ACCESS_FIX.md
  docs/STORAGE_QUOTA_DECIMAL_FIX.md
  src/app/services/echo_service.py
  tests/test_echo_media_attachment.py
Due: python-check-syntax, pytest-quick

Path conditions:
  python-check-syntax: any of: \.py$, but not: (?x)^(
  .*/__pycache__/.*|
  .*/\.pyc$|
  .*\.egg-info/.*|
  htmlcov/.*|
  \.coverage.*|
  coverage\.xml|
  bandit-report\.json|
  safety-report\.json|
  \.git/.*|
  \.venv/.*|
  venv/.*|
  node_modules/.*
)$

  pytest-quick: any of: \.py$, but not: (?x)^(
  .*/__pycache__/.*|
  .*/\.pyc$|
  .*\.egg-info/.*|
  htmlcov/.*|
  \.coverage.*|
  coverage\.xml|
  bandit-report\.json|
  safety-report\.json|
  \.git/.*|
  \.venv/.*|
  venv/.*|
  node_modules/.*
)$

  serverless-validate: any of: serverless\.yml$, but not: (?x)^(
  .*/__pycache__/.*|
  .*/\.pyc$|
  .*\.egg-info/.*|
  htmlcov/.*|
  \.coverage.*|
  coverage\.xml|
  bandit-report\.json|
  safety-report\.json|
  \.git/.*|
  \.venv/.*|
  venv/.*|
  node_modules/.*
)$

