Repository addulaAjay/mirror-collective-python-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-check-syntax, pytest-quick, serverless-validate

Path conditions:
  python-check-syntax: any of: \.py$, but not: (?x)^(
  .*/__pycache__/.*|
  .*/\.pyc$|
  .*\.egg-info/.*|
  htmlcov/.*|
  \.coverage.*|
  coverage\.xml|
  bandit-report\.json|
  safety-report\.json|
  \.git/.*|
  \.venv/.*|
  venv/.*|
  node_modules/.*
)$

  pytest-quick: any of: \.py$, but not: (?x)^(
  .*/__pycache__/.*|
  .*/\.pyc$|
  .*\.egg-info/.*|
  htmlcov/.*|
  \.coverage.*|
  coverage\.xml|
  bandit-report\.json|
  safety-report\.json|
  \.git/.*|
  \.venv/.*|
  venv/.*|
  node_modules/.*
)$

  serverless-validate: any of: serverless\.yml$, but not: (?x)^(
  .*/__pycache__/.*|
  .*/\.pyc$|
  .*\.egg-info/.*|
  htmlcov/.*|
  \.coverage.*|
  coverage\.xml|
  bandit-report\.json|
  safety-report\.json|
  \.git/.*|
  \.venv/.*|
  venv/.*|
  node_modules/.*
)$


feat(telemetry): wire trial conversion funnel events (pricing spec 2026-05-12 §5)
  src/app/api/telemetry_routes.py
  src/app/services/subscription_service.py
  src/app/services/telemetry/subscription_events.py
  tests/test_telemetry_routes.py
  tests/test_trial_telemetry.py
Due: python-check-syntax, pytest-quick

feat(entitlement): introduce per-feature gates for Plus-tier rollout
  src/app/core/entitlement.py
  src/app/core/features.py
  tests/test_feature_flags.py
Due: python-check-syntax, pytest-quick

feat(push): keep lock-screen copy generic, rich copy in data block
  src/app/services/subscription_service.py
  tests/test_payment_failure_push.py
Due: python-check-syntax, pytest-quick

refactor(products): rename Mirror Core to Mirror Basic in catalog
  src/app/constants/products.py
  src/app/services/subscription_service.py
Due: python-check-syntax, pytest-quick

fix(iap): close 3 HIGH findings from code review
  src/app/handler.py
  src/app/services/receipt_validator.py
  src/app/services/subscription_service.py
  tests/test_iap_security.py
  tests/test_tier_decoupled_from_storage.py
Due: python-check-syntax, pytest-quick

fix(iap): close 5 MEDIUM findings from code review + S-M5/S-M6 notes
  src/app/api/mirrorgpt_routes.py
  src/app/core/entitlement.py
  src/app/services/sns_service.py
  src/app/services/storage_quota_service.py
  src/app/services/subscription_service.py
  tests/test_storage_quota_size_tracking.py
Due: python-check-syntax, pytest-quick

chore: align serverless.yml memorySize with deployed value (512 -> 1024)
  serverless.yml
Due: serverless-validate

security: wire Cognito JWT authorizer on HTTP API gateway
  serverless.yml
Due: serverless-validate

security: verify Cognito JWT signature via JWKS (defense-in-depth)
  src/app/core/security.py
Due: python-check-syntax, pytest-quick

perf: reuse a single CognitoService instance across the process
  src/app/controllers/auth_controller.py
  src/app/core/enhanced_auth.py
  src/app/services/cognito_service.py
  src/app/services/user_service.py
Due: python-check-syntax, pytest-quick

security: scrub PII logs and tighten dev-mode bypass
  src/app/core/security.py
Due: python-check-syntax, pytest-quick

perf: cut Lambda cold-start init overhead
  src/app/handler.py
Due: python-check-syntax, pytest-quick

perf: process-wide singletons for DDB, Echo, and StorageQuota services
  .github/workflows/ci.yml
  src/app/api/echo_routes.py
  src/app/api/mirrorgpt_routes.py
  src/app/api/routes.py
  src/app/api/subscription_routes.py
  src/app/controllers/auth_controller.py
  src/app/core/quota_middleware.py
  src/app/jobs/echo_release_job.py
  src/app/jobs/trial_expiration_job.py
  src/app/services/conversation_service.py
  src/app/services/dynamodb_service.py
  src/app/services/echo_service.py
  src/app/services/storage_quota_service.py
  src/app/services/subscription_service.py
  src/app/services/user_service.py
Due: python-check-syntax, pytest-quick

infra: drop in-memory per-container rate limiter; use API Gateway throttling
  serverless.yml
  src/app/core/rate_limiting.py
  src/app/handler.py
  tests/conftest.py
  tests/test_security.py
Due: python-check-syntax, pytest-quick, serverless-validate

infra: switch DynamoDB to on-demand + Retain policy + Streams
  serverless.yml
Due: serverless-validate

perf: async-wrap sync boto3 calls in Cognito/SES/SNS/StorageQuota
  src/app/services/cognito_service.py
  src/app/services/email_service.py
  src/app/services/sns_service.py
  src/app/services/storage_quota_service.py
  tests/test_cognito_async_boto3.py
  tests/test_email_async_boto3.py
  tests/test_sns_async_boto3.py
  tests/test_storage_quota_async_boto3.py
Due: python-check-syntax, pytest-quick

perf(echo): parallelize N+1 queries, add pagination, long-lived aioboto3
  src/app/api/echo_routes.py
  src/app/services/echo_service.py
  tests/test_echo_vault.py
Due: python-check-syntax, pytest-quick

fix(echo): truncate received-echoes to limit; add 6 perf-refactor tests
  src/app/services/echo_service.py
  tests/test_echo_vault.py
Due: python-check-syntax, pytest-quick

perf: tighten OpenAI defaults — model, max_tokens, timeout
  src/app/services/openai_service.py
Due: python-check-syntax, pytest-quick

perf: migrate Apple IAP off deprecated verifyReceipt; reuse aiohttp + Google client
  src/app/services/receipt_validator.py
  tests/test_receipt_validator.py
Due: python-check-syntax, pytest-quick

perf: skip Cognito get_user when ID-token claims are present
  src/app/core/enhanced_auth.py
  tests/test_enhanced_auth.py
Due: python-check-syntax, pytest-quick

perf: long-lived aioboto3 resource in DynamoDBService + cache quiz_questions scan
  src/app/services/dynamodb_service.py
  tests/test_dynamodb_service.py
Due: python-check-syntax, pytest-quick

fix(ddb): lazy-init module Lock; async batch_writer; no caller mutation
  src/app/services/dynamodb_service.py
Due: python-check-syntax, pytest-quick

fix: downgrade Cognito PII log; warn on sync SNS calls; firm test assertion
  src/app/services/cognito_service.py
  src/app/services/sns_service.py
  tests/test_sns_async_boto3.py
Due: python-check-syntax, pytest-quick

fix(apple): lazy session Lock; no sandbox fallthrough on 4xx/5xx; doc JWS gap
  src/app/services/receipt_validator.py
  tests/test_receipt_validator.py
Due: python-check-syntax, pytest-quick

feat(apple): verify signedTransactionInfo JWS against Apple Root CA G3
  requirements.txt
  src/app/resources/apple_root_certificates/AppleRootCA-G3.pem
  src/app/services/receipt_validator.py
  tests/test_receipt_validator.py
Due: python-check-syntax, pytest-quick

docs: scalability runbook — audit, plan, deploy, rollback
  docs/SCALABILITY.md
Due: none

fix(tests+mypy): green the test suite + clear mypy error on main
  src/app/services/receipt_validator.py
  tests/test_email_async_boto3.py
  tests/test_storage_quota_async_boto3.py
Due: python-check-syntax, pytest-quick

fix(openai): shrink streaming semaphore scope to create() call only
  src/app/services/openai_service.py
Due: python-check-syntax, pytest-quick

perf: switch OpenAI client to AsyncOpenAI; add concurrency semaphore
  src/app/services/openai_service.py
  tests/test_openai_service.py
Due: python-check-syntax, pytest-quick

fix(infra): make /api/mirrorgpt/quiz/{questions,submit} public
  serverless.yml
Due: serverless-validate

perf(upload): backend push Tier A — accel, finalize, hardening
  serverless.yml
  src/app/api/echo_routes.py
  src/app/services/echo_service.py
  tests/test_echo_upload_tier_a.py
Due: python-check-syntax, pytest-quick, serverless-validate

perf(pull): backend pull Tier 1 — parallel + dedupe presigns, strip list URLs
  src/app/api/echo_routes.py
  src/app/services/echo_service.py
  tests/test_echo_pull_tier_1.py
Due: python-check-syntax, pytest-quick

perf(api): idempotency-key support on echo create + finalize-media
  serverless.yml
  src/app/api/echo_routes.py
  src/app/core/idempotency.py
  src/app/services/idempotency_service.py
  tests/test_idempotency.py
Due: python-check-syntax, pytest-quick, serverless-validate

perf(upload): S3 multipart upload routes for files >50 MB
  serverless.yml
  src/app/api/echo_routes.py
  src/app/services/echo_service.py
  tests/test_multipart_upload.py
Due: python-check-syntax, pytest-quick, serverless-validate

fix(multipart): blocker fixes from PR-stack review
  serverless.yml
  src/app/services/echo_service.py
  tests/test_multipart_upload.py
Due: python-check-syntax, pytest-quick, serverless-validate

feat(telemetry): POST /api/telemetry/echo-upload beacon
  src/app/api/telemetry_routes.py
  src/app/services/telemetry/upload_events.py
  tests/test_upload_telemetry.py
Due: python-check-syntax, pytest-quick

feat(echo): video poster frame — backend route + signing
  src/app/api/echo_routes.py
  src/app/models/echo.py
  src/app/services/echo_service.py
  tests/test_video_poster.py
Due: python-check-syntax, pytest-quick

chore(api): apply @idempotent to release_echo + create_recipient + create_guardian
  src/app/api/echo_routes.py
Due: python-check-syntax, pytest-quick

fix(sns): wire iOS + Android Platform Application ARNs
  .github/workflows/ci.yml
  serverless.yml
Due: serverless-validate
